.title {
    width: 100%;
    background-color: deepskyblue;
}

.forecast {
    display: inline-block;
    width: 100px;
    border: groove;
}

.forecast img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.forecast h3 {
    text-align: center;
}

.forecast p {
    text-align: center;
}

.forecast .high {
    color: darkorange;
}

.forecast .low {
    color: deepskyblue;
}